/* Challenge styles
-------------------------------------------------- */
// .challenge-button {
//   background: rgba(173, 216, 230, 0.9);
//   font-family: 'Playfair Display', serif;
//   font-weight: 600;
//   border-radius: 15px;
//   color: #003366;
//   text-align: center;
//   padding: 20px;
//   box-shadow: 0 8px 15px rgba(0, 102, 204, 0.3);
//   transition: transform 0.3s ease, box-shadow 0.3s ease;
//   margin: 20px auto;
//   width: 250px;
//   border: 1px solid #87ceeb;
// }
.challenge-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 20px rgba(42, 93, 143, 0.8);
  cursor: pointer;
}

.challenge-inner p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn:hover{
  color: #0A1D37 !important;
  text-decoration: none !important;
}

.challenge-button {
  background-image: url(/themes/winter/static/img/snow2.webp);
  color: #0A1D37;
  border-radius: 15px;
  border-width: 0px;
  padding: 15px;
  text-align: center;
  background-size: cover;


  &.challenge-solved {
    background-image: url(/themes/winter/static/img/chal_solved.webp);
    background-size: cover;
    opacity: 1;
    .challenge-button:hover {
      transform: scale(1.03);
      background-color: #2a5d8f;
      color: #0A1D37;
      box-shadow: 0px 6px 20px rgba(42, 93, 143, 0.8);
      cursor: pointer;
    }
  }
}

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.chal h1,
.chal p {
  font-family: 'Playfair Display', serif;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
  margin: 10px 0;
}

