/* Jumbotron styles
-------------------------------------------------- */

// Move down content because we have a fixed navbar that is 3.5rem tall
main {
  padding-top: 3.5rem;
}

.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.jumbotron h1, .jumbotron p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.scoreboard-header{
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}


@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
